<!DOCTYPE html>
<html>
  <head>
    <title>CSH Superpowers</title>
    <script>var uid = '<%= uid %>';</script>
  </head>
  <body>
    <button id="start-button">Start Superpowers</button>
    <button id="stop-button">Stop Superpowers</button>
    <button id="settings-button">Superpower Settings</button>
    <button id="invite-button">Invite to Superpowers</button>
    <button id="open-button">Open Superpowers</button>
    <button id="projects-button">Manage Projects</button>
    <form action="logout">
      <input type="submit" value="Logout" />
    </form>
    <script src="/js/lobby.js"></script>
  </body>
</html>
