<!DOCTYPE html>
<html>
  <head>
    <title>CSH Superpowers</title>
    <script>var uid = '<%= uid %>';</script>
    <script src="/js/lobby.js"></script>
  </head>
  <body>
    <button onclick="start();">Start Superpowers</button>
    <button onclick="stop();">Stop Superpowers</button>
    <button onclick="settings();">Superpower Settings</button>
    <button onclick="invite();">Invite to Superpowers</button>
    <button onclick="open();">Open Superpowers</button>
    <button onclick="projects();">Manage Projects</button>
    <form action="logout">
      <input type="submit" value="Logout" />
    </form>
  </body>
</html>
